extends layout

block content
	div.sidebar
		div.banner H. DAVID
		div.banner ZHU
		a#about.sidelink(href='#') About
		br
		a#contact.sidelink(href='#') Contact
		br
		a#resume.sidelink(href='#') Resume
		br
		a#projects.sidelink(href='#') Projects
		br
	div.mainblock
		img(src='/images/profile.png', width='570px')
		p Hi! My name is David, and I have a passion for solving user problems and creating simple and effective solutions.
	div.hiddenblock